<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnXRjr1J7UXScRIwGLyzlYOJYAB3WgKPk</string>
	<key>GCM_SENDER_ID</key>
	<string>151526909791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tigorStore</string>
	<key>PROJECT_ID</key>
	<string>cameo-a7762</string>
	<key>STORAGE_BUCKET</key>
	<string>cameo-a7762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151526909791:ios:c730575bd853b3751178ea</string>
</dict>
</plist>